a {
  font-size: 14px;
}

small {
  font-size: 14px;
  color: rgb(42, 42, 42);
  margin-left: 3px;
  font-weight: 500;
}

.border-color {
  border-color: rgb(228, 227, 227);
}


@media(max-width: 575.98px) {
  .loginToApply {
    font-size: 15px;
    white-space: nowrap;
    margin-top: 10px;
  }
}
